<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Azure WebDAV</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav nav-pills col-md-10">
                        <li><button class="btn btn-default navbar-btn">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</button></li>                        
                        <li>                            
                            <button class="btn btn-default navbar-btn" onclick="openFileExplorer()">File Explorer</button></li>
                        <li><button class="btn btn-default navbar-btn" onclick="newWordDocument()">New Document</button></li>
                        <li><button class="btn btn-default navbar-btn">@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</button></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
            <span id="fileExplorer" style="behavior: url(#default#httpFolder);" />
        </header>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            function openFileExplorer() {
                var port = window.location.port;
                if (port == "")
                    port = window.location.protocol == 'http:' ? '80' : '443';
                var uri = window.location.protocol + '//' + window.location.hostname + ':' + port + '/';
                fileExplorer.navigate(uri);
            }
            function newWordDocument() {                
                if (window.ActiveXObject) {
                    var obj = new ActiveXObject("Sharepoint.OpenDocuments.2");
                    obj.CreateNewDocument2(window, "http://localhost.:55335/Document.dotx", "http://localhost.:55335/New Document.docx");
                }
            }
        </script>
    </div>
</body>
</html>
